/* Create A dropdown main button to hover over */
.title-bar{
    text-align:center;
    font-size: 35px;
    height:300px;
}

.dropbtn{
    background-color: white;
    font-size: 11px;
    border:black;
    width: 24em;
    padding: 15px;
}

/* set a dropdown div section to hold the button and dropmenu */
.dropdown{
    position:relative;
    display: inline-block;
    border: 5px solid gray;
    
}

/* Set the attributes of the drop down list contents, hidden by default as shown in "display: none;" */
.dropdown-content{
    display:none;
    position:absolute;
    background-color: white;
    min-width: 160px;
}
/* Set the attributes of the individual drop down contents, in this case <a> anchor links */
.dropdown-content a {
    color:black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color:gray;} */

.dropbtn:hover {background-color:gray;}

.panelmain{
    border: black 22px;
    height:220px;
    width:fill;
    background-color:red;
    
}

#toppings-2{
    background-color:green;
    
}

#crust{
    background-color: blue;
}

#size{
    background-color:yellow;
}