/* Create A dropdown main button to hover over */
.title-bar{
    text-align:center;
    font-size: 35px;
    height:300px;
    width:fill;
    background-color: #33cc33;
}

.dropbtn{
    background-color: white;
    font-size: 11px;
    border:solid gray 1px;
    width: 24em;
    padding: 15px;
}

/* set a dropdown div section to hold the button and dropmenu */
.dropdown{
    position:relative;
    display: inline-block;
    
}

/* Set the attributes of the drop down list contents, hidden by default as shown in "display: none;" */
.dropdown-content{
    display:none;
    position:absolute;
    background-color: white;
    min-width: 160px;
}
/* Set the attributes of the individual drop down contents, in this case <a> anchor links */
.dropdown-content a {
    color:black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color:gray;} */

.dropbtn:hover {background-color:gray;}

.panelmain{
    
    height:220px;
    width:fill;
;
    
}

.pizza{
    position:relative;
    text-align: center;
    top: 105px;
    left: 70px;
}

.PizzaBox{
    width: 180px;
    height: 180px;
    /* border: solid gray 1px; */
}

.pizzatext1{
    position: absolute;
    font-size: 23;
    display:none;
    top:40%;
    left:25%;
    
}

/* #toppings-2{} */
    
    


/*#crust{}*/

/*#size{}*/

.order-details{
    padding: 50px;
    height: 300px;
    width: fill;
    background-color: red;
    
}